<div class="hero-page">
    <div class="container">
        <div class="display-3">
            Food Order and Delivery System
        </div>
        <p class="lead">
            Order from where ever you are! Don't waste your time on queues and things like that
        </p>
        <a href="/get-started" class="btn btn-outline-info btn-lg">
            <i class="fa fa-flash"></i>
            Get Started
            <i class="fa fa-flash"></i>
        </a>
    </div>
</div>
<div style="">
    <div class="lead text-center mb-4">
        Welcome, Please login
    </div>
    <div style="width: 400px; margin: auto;">
        <div class="card">
            <div class="card-block">
                <h2>Login</h2>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="text" class="form-control" name="password">
                </div>
            </div>
            <div class="card-footer">
                <div class="form-group">
                    <button class="btn btn-primary">
                        Login
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="lead"><b>
                    <h2>
                        Order ant time!
                    </h2>
                </b></div>
                <div class="lead">
                    Eheu.Cum bubo mori, omnes byssuses imperium domesticus, flavum parmaes.Ubi est albus domina?Cur
                    imber
                    persuadere?Sunt buboes amor primus, teres galluses.Pol, tumultumque!Lactas favere in quadrata!Cum
                    amicitia peregrinationes, omnes imberes perdere ferox, fatalis demissioes.Vae, placidus lumen!Vae,
                    accentor!Cur sensorem mori?Torus, bromium, et finis.
                </div>
            </div>
            <div class="col-md-6">
                <img src="/img/menu%20(16).jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>

    <div class="bg-dark text-light mt-4">
        <div class="container " style="padding: 2rem 0;">
            <div class="row">
                <div class="col-md-6">
                    <img src="/img/menu%20(19).jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-6">
                    <div class="lead"><b>
                        <h2>
                            Monitor Balance any time!
                        </h2>
                    </b></div>
                    <div class="lead">Placidus, festus seculas etiam attrahendam de teres, secundus lactea.
                        tata
                        Cum devatio manducare, omnes fugaes imperium primus, domesticus eposes.
                        Regius, barbatus demolitiones acceleratrix magicae de altus, rusticus epos.
                        Compater de fortis buxum, convertam species.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>