<div class="card" >
    <div class="card-block">
        <h4>Orders To Process</h4>
        <p class="text-muted">
            Pius abactus inciviliter tractares compater est.Rumor messiss, tanquam varius ratione.Nunquam captis
            rumor.Advena volares, tanquam neuter tabes.
        </p>
        <button class="btn btn-primary">
            <i class="fa fa-smile-o"></i>
            Smart View
        </button>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Customer Name</th>
            <th>Meals</th>
            <th>
                Action
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Zemichael Tesfaye
            </td>
            <td>
                <dl>
                    <dt>Ayinet</dt>
                    <dt>Ayinet</dt>
                    <dt>Bozena</dt>
                    <dt>Key We</dt>
                </dl>
            </td>
            <td class="w-25">
                <button class="btn btn-success btn-block">
                    <i class="fa fa-check"></i>
                    Order Complete
                </button>
                <button class="btn btn-danger btn-block">
                    <i class="fa fa-trash"></i>
                    Remove Order
                </button>
                <button class="btn btn-warning btn-block">
                    <i class="fa fa-info"></i>
                    Call Customer
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>